<script>
    $('.kefu').parent().click(function(){
        var url = 'https://chatlink-new.meiqia.cn/widget/standalone.html?eid=d260846f752eba46657a88ad6d33fe6d';
        window.location.href = url;
    });
    // $('.kefu').parent().click(function(){
    // 		if (window.fcWidget.isOpen() != true) {
    // 			window.fcWidget.open();
    // 			$('#fc_frame').show();
    // 		//Or do something else :)
    // 	}
    // 	});
    // 	window.fcWidget.on("widget:closed", function(resp) {
    // 		$('#fc_frame').hide();
    // 		//Function to do some task
    // 	});
    // window.onbeforeunload=function(e){
    // 	window.fcWidget.user.clear();
    // }
    // function openChat() {
    //         //Do Something
    //         window.fcWidget.open();
    //         $('#fc_frame').show();
    //
    // }
</script>