{include file="head" /}
<script src="__HOME__/js/lk/user.js?v=4"></script>

    <ion-nav-bar class="bar-stable headerbar nav-bar-container" nav-bar-transition="ios" nav-bar-direction="swap" nav-swipe="">

    	<div class="nav-bar-block" nav-bar="active">
    		<ion-header-bar class="bar-stable headerbar bar bar-header" align-title="center">
    			<div class="title title-center header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"><?php echo _lang("充值订单")?></div>
    		</ion-header-bar>
    	</div>
    </ion-nav-bar>

<div class="modal-backdrop modal-bank"><div class="modal-wrapper" ng-transclude="">
    <ion-modal-view class="order-modal bank-info-modal modal ">
    <ion-header-bar class="order-modal-header bar bar-header">
        <h1 class="title" style="left: 54px; right: 54px;"><?php echo _lang("充值提交")?></h1>
        <div class="close" >
              <a   style="color:#fff"  href="{:url('user/chongzhi_select')}"> <i class="icon ion-ios-arrow-left"></i></a>
        </div>
    </ion-header-bar>
    <h1 style="text-align: center;
    font-size: 0.14rem;
    color: #999;
    margin-top: 48px"><?php echo _lang("请向以下账号转账充值，到账时间")?>：<span style="color:red"><?php echo _lang("30分钟")?></span></h1>
    <ul >
        <style>

            .bank-info-modal ul { margin-top:0.2rem!important;}
            .bank-info-modal ul li{ background:#333;border-bottom: 1px solid #666;}
            .bank-info-modal ul li span{ width:1.1rem}
            .button1 {width: 60%;
    margin: 20px auto;
    height: 40px;

    border-radius: 5px;
    display: block;
    line-height: 40px;
    background: orangered;
    text-align: center;
    color: #fff;}
        </style>

        <li>
            <span><?php echo _lang("充值金额")?>:</span>
            <input type="text" placeholder="<?php echo _lang("充值金额")?>" name="accntnm" id="accntnm" class="accntnm" value="">
        </li>
        <li>
            <span><?php echo _lang("备 注")?>：</span>
            <input type="text" placeholder="<?php echo _lang("备注")?>" name="comment" id="comment" class="comment" value="">
        </li>
        <li>
            <span><?php echo _lang("持有人")?>:</span>
            <input type="text" placeholder="<?php echo _lang("持有人")?>" name="holder" id="holder" class="holder" value="">
        </li>

        <li>
            <span><?php echo _lang("地址")?>:</span>
            <input type="text" placeholder="<?php echo _lang("地址")?>" name="host" id="host" class="host" value="">
        </li>
        <li>
            <span><?php echo _lang("网络")?>:</span>
            <input type="text" placeholder="<?php echo _lang("网络")?>" name="intel" id="intel" class="intel" value="">
        </li>



           <a class="button1 " onClick="chongzhi()"><?php echo _lang("我已完成支付")?></a>





    </ul>
<!--    <div class="button-bar">
        <a class="button button-balanced" onClick="">确定</a>
      <a class="button button-dark" onClick="hide_user_modal('modal-bank')">关闭</a>
    </div>-->

</ion-modal-view></div></div>

    </ion-tabs>
</ion-nav-view>
{include file="footer" /}
</body>
</html>
<div id="zypay_post"></div>

<script src="__HOME__/js/lk/jquery.qrcode.js?v=3"></script>
<script src="__HOME__/js/lk/utf.js?v=3"></script>
<script>
function chongzhi() {

	var accntnm = $('#accntnm').val();
	var comment = $('#comment').val();
	var holder = $('#holder').val();
	var host = $('#host').val();
	var intel = $('#intel').val();
	if(!accntnm){
		layer.msg('<?php echo _lang("请输入金额")?>');
		return false;
	}

	if (!holder) {
	    layer.msg('<?php echo _lang("请输入持有人")?>');
		return false;
	}
    if(!host){
        layer.msg('<?php echo _lang("请输入地址")?>');
        return false;
    }
	if (!intel) {
	    layer.msg('<?php echo _lang("请输入网络")?>');
		return false;
	}


	var postdata = 'accntnm='+accntnm+'&comment='+comment+'&holder='+holder+'&host='+host+'&intel='+intel;
	var posturl = '/index/user/recharge_usdt';
	$.post(posturl,postdata,function(resdata){

		layer.msg(resdata.data);
		if(resdata.type == 1){
			setTimeout('dourl()',1000);
		}

	})
}
function dourl() {
    location.href="{:url('user/reglist')}"
}
</script>
